@require 'variables.styl'
@require 'animations_collapse.styl'

/*
|--------------------------------------------------------------------------
| Variables GÉNÉRALES
|--------------------------------------------------------------------------
*/
c_noir_bootstrap = #333
c_line_selected = #00639B

/*
|--------------------------------------------------------------------------
| Variables MENU & BANDEAU
|--------------------------------------------------------------------------
*/
c_gris_sidebar = #f3f3f3
c_bleu_menu_left = #337ab7
c_bordure_grise = #dddddd

/*
|--------------------------------------------------------------------------
| Template bootstrap
|--------------------------------------------------------------------------
*/
html,body,.container-fluid {
  height:100%;
}
/* Move down content because we have a fixed navbar that is 50px tall */
body
  padding-top 50px

.sub-header
  padding-bottom 10px
  border-bottom 1px solid #eee

/* Top navigation: Hide default border to remove 1px line. */
.navbar-fixed-top
  border 0

/* Main content */
@media (min-width: 768px)
  .main
    padding-right 40px
    padding-left 40px



/* JANSY BOTSTRAP TEMPLATE MENU LEFT -------------------- */
.navmenu-bordered-brand{
  border-bottom: 1px solid c_bordure_grise;
  margin-bottom: -1px !important;
  margin-top: 5px !important;
  padding-bottom: 15px !important;
}
.navbar-nav .glyphicon{
  margin-right: 10px !important;
}
.navbar-toggle {
  float: left;
  margin-left: 15px;
}

@media (min-width: 0) {
  .navbar-toggle-menuleft {
    display: block !important; /* force showing the toggle */
    margin: 0 !important;
    margin-top: 5px !important;
    margin-right: 30px !important;
  }
}
.navbar-toggle-menuleft a{
  color: #9d9d9d !important;
}

@media (min-width: 992px) {
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}

.sidebar-accordion .panel{
  margin-top: 0px !important;
}
/* FIN JANSY BOTSTRAP TEMPLATE MENU LEFT -------------------- */

/*
|--------------------------------------------------------------------------
| Classes Elipce generales
|--------------------------------------------------------------------------
*/

// ZONE TEMPS RÉEL //////////////////////////
#zone_temps_reel, .row_temps_reel, .row_temps_reel>div, #zone_temps_reel .panel{
  height: 100%;
}
#zone_temps_reel {
  min-height: 100px;
}
#zone_temps_reel, .row_temps_reel>div{
  padding-bottom: 5px;
}

.row_temps_reel, .row_reporting{
  padding-top: 5px;
  border-bottom: 1px solid c_bordure_grise;
  background-color: c_gris_sidebar;
}

.row_temps_reel .panel-heading, .row_temps_reel .panel-body{
  padding-top: 3px;
  padding-bottom: 3px;
}
.panel{
  overflow-y: auto;
}
.row_temps_reel .panel-body{
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 90% ;
  line-height: 115%;
}
.row_temps_reel .label-default{
  margin-right: 1px !important;
}
.alert-message{
  font-size: 75% !important;
}
.alert-message-wrapper .glyphicon{
  margin-right 0
}

.test-d3 svg{
  height: 400px;
}
// FIN ZONE TEMPS RÉEL //////////////////////////

.glyphicon{
  margin-right: 5px;
}
.glyphicon.form-control-feedback{
  margin-right: 10px;
}
.row_selected td
  color #AAAAAA;
  background-color #EEEEEE;

.bandeau
  padding 5px
  background-color c_gris_sidebar
  border-bottom 1px solid #ddd

.navbar .glyphicon
  font-size 15px

.input-group-addon .glyphicon
  margin-right: 0px;

.titre-bandeau h1, .titre-bandeau h2, .titre-bandeau h3, .titre-bandeau h4, .titre-bandeau h5, .titre-bandeau h6
  margin-top 5px
  margin-bottom 5px
  font-weight bold
  display inline-block

.titre-bandeau-icon
  width 40px

.retour-bandeau .glyphicon
  margin-right 10px
  margin-left 10px
  margin-top 2px;

.notifyjs-margetop
  margin-top: 50px;

input[type=number]:invalid {
    border-color: #A94442;
}

.hand-over:hover{
  cursor: pointer;
}

.full-height{
  height: 100% !important;
}
/*
|--------------------------------------------------------------------------
| Bouton upload
|--------------------------------------------------------------------------
*/
.fileUpload {
  position: relative;
  overflow: hidden;
  height: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 22px;
  cursor: pointer;
  opacity: 0;
  filter: unquote("alpha(opacity=0)")
}
/*
|--------------------------------------------------------------------------
| Collapse sidebar
|--------------------------------------------------------------------------
*/

/* ---------- MODE LEFT ---------- */
.collapse-sidebar-left{
  margin-left: -1px!important;
  padding-right: 0px!important;
  padding-left: 0px!important;
}

.collapse-collapsed.collapse-left{
  padding-right: 0px!important;
}

// SIDEBAR LEFT
.collapse-expanded .collapse-sidebar-left{
  padding-right: 23px!important;
}
.collapse-collapsed .collapse-sidebar-left{
  padding-right: 0px!important;
}

// BODY LEFT
.collapse-left.collapse-expanded .collapse-body{
  padding-left: 0px!important;
}
.collapse-left.collapse-collapsed .collapse-body{
  padding-left: 23px!important;
}

// Contenu de la sidebar left
.collapse-sidebar-left .sidebar-content{
  padding: 5px;
  background-color: c_gris_sidebar;
  border: 1px solid c_bordure_grise;
}
/* La rotation initiale se fait sur un div de largeur 0px
Donc la translation n'affecte pas la position du couton
Ce qui n'est pas le cas du mode "déplié" pour lequel le div
fait toute la largeur du bloc de sidebar */
.collapse-sidebar-left .vertical-text{
  transform: rotate(90deg) translate(100%, 0);
  transform-origin: bottom right;
}

/* ---------- MODE RIGHT ---------- */
.collapse-sidebar-right .sidebar-content{
  padding: 15px;
  background-color: c_gris_sidebar;
  border: 1px solid c_bordure_grise;
}
.collapse-sidebar-right .vertical-text .glyphicon{
  margin-right: 0px;
  margin-left: 10px;
}
.collapse-sidebar-right .vertical-text {
  transform:rotate(-90deg) translateX(-100%);
  transform-origin: bottom left;
  text-align: right;
  display: inline-block;
}
.collapse-sidebar-right{
  margin-right: -15px;
}
.collapse-collapsed.collapse-right{
  margin-left: 0px!important;
  padding-right: 0px!important;
}
.collapse-right.collapse-expanded .collapse-body{
  padding-right: 0px!important;
}

/* ---------- GÉNÉRALITÉS ---------- */
.collapse-sidebar {
  margin-top: -21px;
}
.collapse-row{
  overflow: hidden;
}
/*
|--------------------------------------------------------------------------
| ANIMATIONS CSS REACT
|--------------------------------------------------------------------------
*/
/* PROFIL */
.tabprofil-enter {
  opacity: 0.01;
  transition: opacity .2s ease-in;
}

.tabprofil-enter.tabprofil-enter-active {
  opacity: 1;
}

.tabprofil-leave {
  opacity: 1;
  transition: opacity .2s ease-in;
}

.tabprofil-leave.tabprofil-leave-active {
  opacity: 0.01;

}
