/* ------------------------------------------------------------- */
/* ----------------- DEPLIAGE DROITE -> GAUCHE ----------------- */
/* ------------------------------------------------------------- */

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 1
@keyframes expandSideFromRight1 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 8.33333333%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 2
@keyframes expandSideFromRight2 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 16.66666667%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 3
@keyframes expandSideFromRight3 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 25%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 4
@keyframes expandSideFromRight4 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 33.33333333%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 5
@keyframes expandSideFromRight5 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 41.66666667%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 6
@keyframes expandSideFromRight6 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 50%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 7
@keyframes expandSideFromRight7 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 58.33333333%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 8
@keyframes expandSideFromRight8 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 66.66666667%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 9
@keyframes expandSideFromRight9 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 75%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 10
@keyframes expandSideFromRight10 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 83.33333333%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 11
@keyframes expandSideFromRight11 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 91.66666667%;

  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 12
@keyframes expandSideFromRight12 {
  0% {
    opacity: 0;
    width: 0%;

  }
  100% {
    opacity: 100%;
    width: 100%;

  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage BODY DROITE --> GAUCHE COL MD 1
@keyframes foldBodyFromRight1 {
  0% {
    width: 100%;

  }
  100% {
    width: 8.33333333%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 2
@keyframes foldBodyFromRight2 {
  0% {
    width: 100%;

  }
  100% {
    width: 16.66666667%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 3
@keyframes foldBodyFromRight3 {
  0% {
    width: 100%;

  }
  100% {
    width: 25%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 4
@keyframes foldBodyFromRight4 {
  0% {
    width: 100%;

  }
  100% {
    width: 33.33333333%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 5
@keyframes foldBodyFromRight5 {
  0% {
    width: 100%;

  }
  100% {
    width: 41.66666667%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 6
@keyframes foldBodyFromRight6 {
  0% {
    width: 100%;

  }
  100% {
    width: 50%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 7
@keyframes foldBodyFromRight7 {
  0% {
    width: 100%;

  }
  100% {
    width: 58.33333333%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 8
@keyframes foldBodyFromRight8 {
  0% {
    width: 100%;

  }
  100% {
    width: 66.66666667%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 9
@keyframes foldBodyFromRight9 {
  0% {
    width: 100%;

  }
  100% {
    width: 75%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 10
@keyframes foldBodyFromRight10 {
  0% {
    width: 100%;

  }
  100% {
    width: 83.33333333%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 11
@keyframes foldBodyFromRight11 {
  0% {
    width: 100%;

  }
  100% {
    width: 91.66666667%;

  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 12
@keyframes foldBodyFromRight12 {
  0% {
    width: 100%;

  }
  100% {
    width: 100%;

  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR RIGHT
.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-1 {
  animation: expandSideFromRight1 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-2 {
  animation: expandSideFromRight2 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-3 {
  animation: expandSideFromRight3 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-4 {
  animation: expandSideFromRight4 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-5 {
  animation: expandSideFromRight5 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-6 {
  animation: expandSideFromRight6 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-7 {
  animation: expandSideFromRight7 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-8 {
  animation: expandSideFromRight8 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-9 {
  animation: expandSideFromRight9 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-10 {
  animation: expandSideFromRight10 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-11 {
  animation: expandSideFromRight11 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-sidebar.col-md-12 {
  animation: expandSideFromRight12 200ms ease-in;
}

// ANIMATION BODY LEFT
.animate .collapse-expanded.collapse-right > .collapse-body.col-md-1 {
  animation: foldBodyFromRight1 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-2 {
  animation: foldBodyFromRight2 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-3 {
  animation: foldBodyFromRight3 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-4 {
  animation: foldBodyFromRight4 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-5 {
  animation: foldBodyFromRight5 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-6 {
  animation: foldBodyFromRight6 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-7 {
  animation: foldBodyFromRight7 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-8 {
  animation: foldBodyFromRight8 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-9 {
  animation: foldBodyFromRight9 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-10 {
  animation: foldBodyFromRight10 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-11 {
  animation: foldBodyFromRight11 200ms ease-in;
}

.animate .collapse-expanded.collapse-right > .collapse-body.col-md-12 {
  animation: foldBodyFromRight12 200ms ease-in;
}

/* ------------------------------------------------------------- */
/* ----------------- FIN DEPLIAGE DROITE -> GAUCHE ------------- */
/* ------------------------------------------------------------- */

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 1
@keyframes expandSideFromLeft1 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 8.33333333%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 2
@keyframes expandSideFromLeft2 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 16.66666667%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 3
@keyframes expandSideFromLeft3 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 25%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 4
@keyframes expandSideFromLeft4 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 33.33333333%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 5
@keyframes expandSideFromLeft5 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 41.66666667%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 6
@keyframes expandSideFromLeft6 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 50%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 7
@keyframes expandSideFromLeft7 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 58.33333333%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 8
@keyframes expandSideFromLeft8 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 66.66666667%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 9
@keyframes expandSideFromLeft9 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 75%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 10
@keyframes expandSideFromLeft10 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 83.33333333%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 11
@keyframes expandSideFromLeft11 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 91.66666667%;
    padding-right: 23px;
  }
}

// Dépliage SIDEBAR GAUCHE --> DROITE   COL MD 12
@keyframes expandSideFromLeft12 {
  0% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
  100% {
    opacity: 100%;
    width: 100%;
    padding-right: 23px;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage BODY GAUCHE --> DROITE   COL MD 1
@keyframes foldBodyFromLeft1 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 8.33333333%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 2
@keyframes foldBodyFromLeft2 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 16.66666667%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 3
@keyframes foldBodyFromLeft3 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 25%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 4
@keyframes foldBodyFromLeft4 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 33.33333333%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 5
@keyframes foldBodyFromLeft5 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 41.66666667%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 6
@keyframes foldBodyFromLeft6 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 50%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 7
@keyframes foldBodyFromLeft7 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 58.33333333%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 8
@keyframes foldBodyFromLeft8 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 66.66666667%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 9
@keyframes foldBodyFromLeft9 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 75%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 10
@keyframes foldBodyFromLeft10 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 83.33333333%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 11
@keyframes foldBodyFromLeft11 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 91.66666667%;
    padding-left: 0px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 12
@keyframes foldBodyFromLeft12 {
  0% {
    width: 100%;
    padding-right: 23px;
  }
  100% {
    width: 100%;
    padding-left: 0px;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR LEFT
.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-1 {
  animation: expandSideFromLeft1 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-2 {
  animation: expandSideFromLeft2 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-3 {
  animation: expandSideFromLeft3 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-4 {
  animation: expandSideFromLeft4 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-5 {
  animation: expandSideFromLeft5 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-6 {
  animation: expandSideFromLeft6 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-7 {
  animation: expandSideFromLeft7 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-8 {
  animation: expandSideFromLeft8 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-9 {
  animation: expandSideFromLeft9 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-10 {
  animation: expandSideFromLeft10 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-11 {
  animation: expandSideFromLeft11 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-sidebar.col-md-12 {
  animation: expandSideFromLeft12 200ms ease-in;
}

// ANIMATION BODY
.animate .collapse-expanded.collapse-left > .collapse-body.col-md-1 {
  animation: foldBodyFromLeft1 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-2 {
  animation: foldBodyFromLeft2 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-3 {
  animation: foldBodyFromLeft3 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-4 {
  animation: foldBodyFromLeft4 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-5 {
  animation: foldBodyFromLeft5 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-6 {
  animation: foldBodyFromLeft6 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-7 {
  animation: foldBodyFromLeft7 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-8 {
  animation: foldBodyFromLeft8 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-9 {
  animation: foldBodyFromLeft9 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-10 {
  animation: foldBodyFromLeft10 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-11 {
  animation: foldBodyFromLeft11 200ms ease-in;
}

.animate .collapse-expanded.collapse-left > .collapse-body.col-md-12 {
  animation: foldBodyFromLeft12 200ms ease-in;
}

/* ------------------------------------------------------------- */
/* ----------------- FIN DEPLIAGE GAUCHE -> DROITE ------------- */
/* ------------------------------------------------------------- */

// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------
// ----------------------------------------------------------------------------------------------------------------------------------

/* ------------------------------------------------------------- */
/* ----------------- PLIAGE DROITE -> GAUCHE ------------------- */
/* ------------------------------------------------------------- */

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// Pliage SIDEBAR DROITE --> GAUCHE COL MD 1
@keyframes collapseSideFromRight1 {
  0% {
    opacity: 100%;
    width: 8.33333333%;
  }
  100% {
    opacity: 0%;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 2
@keyframes collapseSideFromRight2 {
  0% {
    opacity: 100%;
    width: 16.66666667%;

  }
  100% {

    opacity: 0%;
    width: 0%;

  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 3
@keyframes collapseSideFromRight3 {
  0% {
    opacity: 100%;
    width: 25%;
  }
  100% {
    opacity: 0;
    width: 0%;

  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 4
@keyframes collapseSideFromRight4 {
  0% {
    opacity: 100%;
    width: 33.33333333%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 5
@keyframes collapseSideFromRight5 {
  0% {
    opacity: 100%;
    width: 41.66666667%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 6
@keyframes collapseSideFromRight6 {
  0% {
    opacity: 100%;
    width: 50%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 7
@keyframes collapseSideFromRight7 {
  0% {
    opacity: 100%;
    width: 58.33333333%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 8
@keyframes collapseSideFromRight8 {
  0% {
    opacity: 100%;
    width: 66.66666667%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 9
@keyframes collapseSideFromRight9 {
  0% {
    opacity: 100%;
    width: 75%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 10
@keyframes collapseSideFromRight10 {
  0% {
    opacity: 100%;
    width: 83.33333333%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 11
@keyframes collapseSideFromRight11 {
  0% {
    opacity: 100%;
    width: 91.66666667%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// Pliage SIDEBAR DROITE --> GAUCHE COL MD 12
@keyframes collapseSideFromRight12 {
  0% {
    opacity: 100%;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage BODY DROITE --> GAUCHE COL MD 1
@keyframes expandBodyFromRight1 {
  0% {
    width: 8.33333333%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 2
@keyframes expandBodyFromRight2 {
  0% {
    width: 16.66666667%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 3
@keyframes expandBodyFromRight3 {
  0% {
    width: 25%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 4
@keyframes expandBodyFromRight4 {
  0% {
    width: 33.33333333%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 5
@keyframes expandBodyFromRight5 {
  0% {
    width: 41.66666667%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 6
@keyframes expandBodyFromRight6 {
  0% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 7
@keyframes expandBodyFromRight7 {
  0% {
    width: 58.33333333%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 8
@keyframes expandBodyFromRight8 {
  0% {
    width: 66.66666667%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 9
@keyframes expandBodyFromRight9 {
  0% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 10
@keyframes expandBodyFromRight10 {
  0% {
    width: 83.33333333%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 11
@keyframes expandBodyFromRight11 {
  0% {
    width: 91.66666667%;
  }
  100% {
    width: 100%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 12
@keyframes expandBodyFromRight12 {
  0% {
    width: 100%;

  }
  100% {
    width: 100%;

  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR RIGHT
.animate .collapse-collapsed.collapse-right.md-1 > .collapse-sidebar {
  animation: collapseSideFromRight1 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-2 > .collapse-sidebar {
  animation: collapseSideFromRight2 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-3 > .collapse-sidebar {
  animation: collapseSideFromRight3 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-4 > .collapse-sidebar {
  animation: collapseSideFromRight4 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-5 > .collapse-sidebar {
  animation: collapseSideFromRight5 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-6 > .collapse-sidebar {
  animation: collapseSideFromRight6 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-7 > .collapse-sidebar {
  animation: collapseSideFromRight7 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-8 > .collapse-sidebar {
  animation: collapseSideFromRight8 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-9 > .collapse-sidebar {
  animation: collapseSideFromRight9 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-10 > .collapse-sidebar {
  animation: collapseSideFromRight10 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-11 > .collapse-sidebar {
  animation: collapseSideFromRight11 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-12 > .collapse-sidebar {
  animation: collapseSideFromRight12 200ms ease-in;
}

// ANIMATION BODY LEFT
.animate .collapse-collapsed.collapse-right.md-1 > .collapse-body {
  animation: expandBodyFromRight11 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-2 > .collapse-body {
  animation: expandBodyFromRight10 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-3 > .collapse-body {
  animation: expandBodyFromRight9 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-4 > .collapse-body {
  animation: expandBodyFromRight8 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-5 > .collapse-body {
  animation: expandBodyFromRight7 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-6 > .collapse-body {
  animation: expandBodyFromRight6 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-7 > .collapse-body {
  animation: expandBodyFromRight5 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-8 > .collapse-body {
  animation: expandBodyFromRight4 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-9 > .collapse-body {
  animation: expandBodyFromRight3 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-10 > .collapse-body {
  animation: expandBodyFromRight2 200ms ease-in;
}

.animate .collapse-collapsed.collapse-right.md-11 > .collapse-body {
  animation: expandBodyFromRight1 200ms ease-in;
}

/* ------------------------------------------------------------- */
/* ----------------- FIN PLIAGE DROITE -> GAUCHE --------------- */
/* ------------------------------------------------------------- */

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 1
@keyframes collapseSideFromLeft1 {
  0% {
    opacity: 100%;
    width: 8.33333333%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 2
@keyframes collapseSideFromLeft2 {
  0% {
    opacity: 100%;
    width: 16.66666667%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 3
@keyframes collapseSideFromLeft3 {
  0% {
    opacity: 100%;
    width: 25%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 4
@keyframes collapseSideFromLeft4 {
  0% {
    opacity: 100%;
    width: 33.33333333%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 5
@keyframes collapseSideFromLeft5 {
  0% {
    opacity: 100%;
    width: 41.66666667%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 6
@keyframes collapseSideFromLeft6 {
  0% {
    opacity: 100%;
    width: 50%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 7
@keyframes collapseSideFromLeft7 {
  0% {
    opacity: 100%;
    width: 58.33333333%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 8
@keyframes collapseSideFromLeft8 {
  0% {
    opacity: 100%;
    width: 66.66666667%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 9
@keyframes collapseSideFromLeft9 {
  0% {
    opacity: 100%;
    width: 75%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 10
@keyframes collapseSideFromLeft10 {
  0% {
    opacity: 100%;
    width: 83.33333333%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 11
@keyframes collapseSideFromLeft11 {
  0% {
    opacity: 100%;
    width: 91.66666667%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// Pliage SIDEBAR GAUCHE --> DROITE   COL MD 12
@keyframes collapseSideFromLeft12 {
  0% {
    opacity: 100%;
    width: 100%;
    padding-right: 23px;
  }
  100% {
    opacity: 0;
    width: 0%;
    padding-right: 0px;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage BODY GAUCHE --> DROITE   COL MD 1
@keyframes expandBodyFromLeft1 {
  0% {
    width: 8.33333333%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 2
@keyframes expandBodyFromLeft2 {
  0% {
    width: 16.66666667%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 3
@keyframes expandBodyFromLeft3 {
  0% {
    width: 25%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 4
@keyframes expandBodyFromLeft4 {
  0% {
    width: 33.33333333%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 5
@keyframes expandBodyFromLeft5 {
  0% {
    width: 41.66666667%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 6
@keyframes expandBodyFromLeft6 {
  0% {
    width: 50%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 7
@keyframes expandBodyFromLeft7 {
  0% {
    width: 58.33333333%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 8
@keyframes expandBodyFromLeft8 {
  0% {
    width: 66.66666667%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 9
@keyframes expandBodyFromLeft9 {
  0% {
    width: 75%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 10
@keyframes expandBodyFromLeft10 {
  0% {
    width: 83.33333333%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 11
@keyframes expandBodyFromLeft11 {
  0% {
    width: 91.66666667%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// Pliage BODY GAUCHE --> DROITE   COL MD 12
@keyframes expandBodyFromLeft12 {
  0% {
    width: 100%;
    padding-left: 0px;
  }
  100% {
    width: 100%;
    padding-right: 23px;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR LEFT
.animate .collapse-collapsed.collapse-left.md-1 > .collapse-sidebar {
  animation: collapseSideFromLeft1 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-2 > .collapse-sidebar {
  animation: collapseSideFromLeft2 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-3 > .collapse-sidebar {
  animation: collapseSideFromLeft3 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-4 > .collapse-sidebar {
  animation: collapseSideFromLeft4 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-5 > .collapse-sidebar {
  animation: collapseSideFromLeft5 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-6 > .collapse-sidebar {
  animation: collapseSideFromLeft6 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-7 > .collapse-sidebar {
  animation: collapseSideFromLeft7 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-8 > .collapse-sidebar {
  animation: collapseSideFromLeft8 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-9 > .collapse-sidebar {
  animation: collapseSideFromLeft9 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-10 > .collapse-sidebar {
  animation: collapseSideFromLeft10 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-11 > .collapse-sidebar {
  animation: collapseSideFromLeft11 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-12 > .collapse-sidebar {
  animation: collapseSideFromLeft12 200ms ease-in;
}

// ANIMATION BODY
.animate .collapse-collapsed.collapse-left.md-1 > .collapse-body {
  animation: expandBodyFromLeft11 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-2 > .collapse-body {
  animation: expandBodyFromLeft10 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-3 > .collapse-body {
  animation: expandBodyFromLeft9 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-4 > .collapse-body {
  animation: expandBodyFromLeft8 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-5 > .collapse-body {
  animation: expandBodyFromLeft7 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-6 > .collapse-body {
  animation: expandBodyFromLeft6 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-7 > .collapse-body {
  animation: expandBodyFromLeft5 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-8 > .collapse-body {
  animation: expandBodyFromLeft4 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-9 > .collapse-body {
  animation: expandBodyFromLeft3 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-10 > .collapse-body {
  animation: expandBodyFromLeft2 200ms ease-in;
}

.animate .collapse-collapsed.collapse-left.md-11 > .collapse-body {
  animation: expandBodyFromLeft1 200ms ease-in;
}

/* ------------------------------------------------------------- */
/* ----------------- FIN PLIAGE GAUCHE -> DROITE --------------- */
/* ------------------------------------------------------------- */