/* ------------------------------------------------------------- */
/* ----------------- DEPLIAGE DROITE -> GAUCHE ----------------- */
/* ------------------------------------------------------------- */

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 1
@keyframes expandSideFromRight1 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 8.33333333%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 2
@keyframes expandSideFromRight2 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 16.66666667%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 3
@keyframes expandSideFromRight3 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 25%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 4
@keyframes expandSideFromRight4 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 33.33333333%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 5
@keyframes expandSideFromRight5 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 41.66666667%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 6
@keyframes expandSideFromRight6 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 50%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 7
@keyframes expandSideFromRight7 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 58.33333333%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 8
@keyframes expandSideFromRight8 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 66.66666667%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 9
@keyframes expandSideFromRight9 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 75%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 10
@keyframes expandSideFromRight10 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 83.33333333%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 11
@keyframes expandSideFromRight11 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 91.66666667%;
  }
}

// Dépliage SIDEBAR DROITE --> GAUCHE COL MD 12
@keyframes expandSideFromRight12 {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    opacity: 100%;
    width: 100%;
  }
}
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// Pliage BODY DROITE --> GAUCHE COL MD 1
@keyframes foldBodyFromRight1 {
  0% {
    width: 100%;
  }
  100% {
    width: 8.33333333%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 2
@keyframes foldBodyFromRight2 {
  0% {
    width: 100%;
  }
  100% {
    width: 16.66666667%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 3
@keyframes foldBodyFromRight3 {
  0% {
    width: 100%;
  }
  100% {
    width: 25%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 4
@keyframes foldBodyFromRight4 {
  0% {
    width: 100%;
  }
  100% {
    width: 33.33333333%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 5
@keyframes foldBodyFromRight5 {
  0% {
    width: 100%;
  }
  100% {
    width: 41.66666667%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 6
@keyframes foldBodyFromRight6 {
  0% {
    width: 100%;
  }
  100% {
    width: 50%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 7
@keyframes foldBodyFromRight7 {
  0% {
    width: 100%;
  }
  100% {
    width: 58.33333333%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 8
@keyframes foldBodyFromRight8 {
  0% {
    width: 100%;
  }
  100% {
    width: 66.66666667%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 9
@keyframes foldBodyFromRight9 {
  0% {
    width: 100%;
  }
  100% {
    width: 75%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 10
@keyframes foldBodyFromRight10 {
  0% {
    width: 100%;
  }
  100% {
    width: 83.33333333%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 11
@keyframes foldBodyFromRight11 {
  0% {
    width: 100%;
  }
  100% {
    width: 91.66666667%;
  }
}

// Pliage BODY DROITE --> GAUCHE COL MD 12
@keyframes foldBodyFromRight12 {
  0% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR RIGHT
.collapse-expanded.collapse-right > .collapse-sidebar.col-md-1 {
  animation: expandSideFromRight1 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-2 {
  animation: expandSideFromRight2 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-3 {
  animation: expandSideFromRight3 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-4 {
  animation: expandSideFromRight4 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-5 {
  animation: expandSideFromRight5 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-6 {
  animation: expandSideFromRight6 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-7 {
  animation: expandSideFromRight7 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-8 {
  animation: expandSideFromRight8 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-9 {
  animation: expandSideFromRight9 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-10 {
  animation: expandSideFromRight10 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-11 {
  animation: expandSideFromRight11 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-sidebar.col-md-12 {
  animation: expandSideFromRight12 300ms ease-in;
}

// ANIMATION BODY LEFT
.collapse-expanded.collapse-right > .collapse-body.col-md-1 {
  animation: foldBodyFromRight1 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-2 {
  animation: foldBodyFromRight2 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-3 {
  animation: foldBodyFromRight3 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-4 {
  animation: foldBodyFromRight4 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-5 {
  animation: foldBodyFromRight5 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-6 {
  animation: foldBodyFromRight6 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-7 {
  animation: foldBodyFromRight7 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-8 {
  animation: foldBodyFromRight8 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-9 {
  animation: foldBodyFromRight9 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-10 {
  animation: foldBodyFromRight10 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-11 {
  animation: foldBodyFromRight11 300ms ease-in;
}

.collapse-expanded.collapse-right > .collapse-body.col-md-12 {
  animation: foldBodyFromRight12 300ms ease-in;
}
// ------------------------------------------------------------------------------
// ------------------------------------------------------------------------------

// ANIMATION SIDEBAR LEFT
.collapse-expanded.collapse-left > .collapse-sidebar.col-md-1 {
  animation: expandSideFromRight1 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-2 {
  animation: expandSideFromRight2 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-3 {
  animation: expandSideFromRight3 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-4 {
  animation: expandSideFromRight4 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-5 {
  animation: expandSideFromRight5 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-6 {
  animation: expandSideFromRight6 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-7 {
  animation: expandSideFromRight7 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-8 {
  animation: expandSideFromRight8 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-9 {
  animation: expandSideFromRight9 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-10 {
  animation: expandSideFromRight10 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-11 {
  animation: expandSideFromRight11 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-sidebar.col-md-12 {
  animation: expandSideFromRight12 300ms ease-in;
}

// ANIMATION BODY
.collapse-expanded.collapse-left > .collapse-body.col-md-1 {
  animation: foldBodyFromRight1 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-2 {
  animation: foldBodyFromRight2 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-3 {
  animation: foldBodyFromRight3 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-4 {
  animation: foldBodyFromRight4 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-5 {
  animation: foldBodyFromRight5 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-6 {
  animation: foldBodyFromRight6 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-7 {
  animation: foldBodyFromRight7 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-8 {
  animation: foldBodyFromRight8 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-9 {
  animation: foldBodyFromRight9 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-10 {
  animation: foldBodyFromRight10 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-11 {
  animation: foldBodyFromRight11 300ms ease-in;
}

.collapse-expanded.collapse-left > .collapse-body.col-md-12 {
  animation: foldBodyFromRight12 300ms ease-in;
}

/* ------------------------------------------------------------- */
/* ----------------- FIN DEPLIAGE DROITE -> GAUCHE ------------- */
/* ------------------------------------------------------------- */