/*
|--------------------------------------------------------------------------
| Variables GÉNÉRALES
|--------------------------------------------------------------------------
*/
c_noir_bootstrap = #333
c_line_selected = #00639B

/*
|--------------------------------------------------------------------------
| Variables MENU & BANDEAU
|--------------------------------------------------------------------------
*/
c_gris_sidebar = #f3f3f3
c_bleu_menu_left = #337ab7
c_bordure_grise = #dddddd
